{% extends "index1.html" %}

{% block tittle %} Estado de la Comercialización {% endblock %}

{% block subheader %} <h3 class="display3display4 lv">Estado de la Comercialización</h3> {% endblock %}

{% block container_class %}<div class="container ml-4 mr-4 pl-0 pr-0">{% endblock %}

{%block main_container%}

{% block body_class %}
<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable aside-minimize">
{% endblock %}

<!--begin::Row( testing checkbox)-->
<form class="form" action="{{app_path}}" name = "nivel-detalle" method = "post">
    {% csrf_token %}
    <div class="row">
        <div class="column col-8">
            <div class="row col-12">
                <div class="row">
                    <div class="ml-8 mb-6">
                        <div class="card card-custom card-stretch example example-compact">
                            <div class="card-header">
                                <div class="card-title">
                                    <h3 class="card-label">Métricas</h3>
                                </div>
                            </div>
                            <div class="checkbox-list card-body pt-4  pl-6 pr-6">
                                <h5>Venta</h5>
                                <label class="checkbox" >
                                    <input type="checkbox" name="selected_metricas" value="venta_cantidad" onchange="mostrar_elemento(this, 'mostrar_metricas')"/>
                                    <span></span>Venta cantidad</label>

                                <label class="checkbox">
                                    <input type="checkbox" name="selected_metricas" value="venta_costo" onchange="mostrar_elemento(this, 'mostrar_metricas')" />
                                    <span></span>Venta costo</label>

                                <label class="checkbox">
                                    <input type="checkbox" name="selected_metricas" value="venta_importe" onchange="mostrar_elemento(this, 'mostrar_metricas')" />
                                    <span></span>Venta Importe</label>

                                <label class="checkbox">
                                    <input type="checkbox" name="selected_metricas" value="venta_ganancia" onchange="mostrar_elemento(this, 'mostrar_metricas')" />
                                    <span></span>Venta Ganancia</label>

                                <h5>Compra</h5>
                                <label class="checkbox">
                                    <input type="checkbox" name="selected_metricas" value="compra_cantidad" onchange="mostrar_elemento(this, 'mostrar_metricas')" />
                                    <span></span>Compra cantidad</label>

                                <label class="checkbox">
                                    <input type="checkbox" name="selected_metricas" value="compra_costo" onchange="mostrar_elemento(this, 'mostrar_metricas')" />
                                    <span></span>Compra costo</label>
                                
                                <label class="checkbox">
                                    <input type="checkbox" name="selected_metricas" value="inv_cantidad" onchange="mostrar_elemento(this, 'mostrar_metricas')" />
                                    <span></span>Inventario cantidad</label>    

                                <h5>Inventario</h5>
                                <label class="checkbox">
                                    <input type="checkbox" name="selected_metricas" value="inv_inicial_costo"  onchange="mostrar_elemento(this, 'mostrar_metricas')"/>
                                    <span></span>Inventario inicial(costo)</label>

                                <label class="checkbox">
                                    <input type="checkbox" name="selected_metricas" value="inv_costo" onchange="mostrar_elemento(this, 'mostrar_metricas')" />
                                    <span></span>Inventario costo</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group ml-4">
                        <div class="card card-custom card-stretch example example-compact">
                            <div class="card-header">
                                <div class="card-title">
                                    <h3 class="card-label">Indicadores</h3>
                                </div>
                            </div>
                            <div class="checkbox-list card-body pt-4 pl-6 pr-6">
                                <label class="checkbox">
                                    <input type="checkbox" name="selected_indicadores" value="Porciento de variación de Saldo" onchange="mostrar_elemento(this, 'mostrar_indicadores')"  />
                                    <span></span>Porciento de variación<br> de Saldo</label>

                                <label class="checkbox">
                                    <input type="checkbox" name="selected_indicadores" value="Rotación"  onchange="mostrar_elemento(this, 'mostrar_indicadores')" />
                                    <span></span>Rotación</label>

                                <label class="checkbox">
                                    <input type="checkbox" name="selected_indicadores" value="Margen Comercial" onchange="mostrar_elemento(this, 'mostrar_indicadores')"  />
                                    <span></span>Margen Comercial</label>

                                <label class="checkbox">
                                    <input type="checkbox" name="selected_indicadores" value="Organismo" onchange="mostrar_elemento(this, 'mostrar_indicadores')"  />
                                    <span></span>Organismo</label>

                                <label class="checkbox">
                                    <input type="checkbox" name="selected_indicadores" value="Cobertura" onchange="mostrar_elemento(this, 'mostrar_indicadores')"  />
                                    <span></span>Cobertura</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group ml-4">
                        <div class="card card-custom card-stretch example example-compact">
                            <div class="card-header">
                                <div class="card-title">
                                    <h3 class="card-label">Nivel Detallado</h3>
                                </div>
                            </div>
                            <div class="form-group card-body pt-4 pl-6 pr-6">
                                <div class="radio-list">
                                    <label class="radio radio-rounded">
                                        <input type="radio" checked="checked" name="selected_nivel_detalle" value="Departamento"/>
                                        <span onchange="mostrar_elemento_ratio(this, 'mostrar_nivel_detalle', 'Departamento')"></span>
                                        Departamento
                                    </label>
                                    <label class="radio radio-rounded">
                                        <input type="radio"  name="selected_nivel_detalle" value="Sección"/>
                                        <span onchange="mostrar_elemento_ratio(this, 'mostrar_nivel_detalle', 'Sección')"></span>
                                        Sección
                                    </label>
                                    <label class="radio radio-rounded">
                                        <input type="radio" name="selected_nivel_detalle" value="Línea"/>
                                        <span onchange="mostrar_elemento_ratio(this, 'mostrar_nivel_detalle', 'Línea')"></span>
                                        Línea
                                    </label>
                                    <label class="radio radio-rounded">
                                        <input type="radio" name="selected_nivel_detalle" value="Producto"/>
                                        <span onchange="mostrar_elemento_ratio(this, 'mostrar_nivel_detalle', 'Producto')"></span>
                                        Producto
                                    </label>
                                    <label class="radio radio-rounded">
                                        <input type="radio"name="selected_nivel_detalle" value="Proveedor"/>
                                        <span onchange="mostrar_elemento_ratio(this, 'mostrar_nivel_detalle', 'Proveedor')"></span>
                                        Proveedor
                                    </label>
                                    <label class="radio radio-rounded">
                                        <input type="radio" name="selected_nivel_detalle" value="Sucursal"/>
                                        <span onchange="mostrar_elemento_ratio(this, 'mostrar_nivel_detalle', 'Sucursal')"></span>
                                        Sucursal
                                    </label>
                                    <label class="radio radio-rounded">
                                        <input type="radio" name="selected_nivel_detalle" value="Complejo"/>
                                        <span onchange="mostrar_elemento_ratio(this, 'mostrar_nivel_detalle', 'Complejo')"></span>
                                        Complejo
                                    </label>
                                    <label class="radio radio-rounded">
                                        <input type="radio" name="selected_nivel_detalle" value="Establecimiento"/>
                                        <span onchange="mostrar_elemento_ratio(this, 'mostrar_nivel_detalle', 'Establecimiento')"></span>
                                        Establecimiento
                                    </label>
                                    <label class="radio radio-rounded">
                                        <input type="radio" name="selected_nivel_detalle" value="Período"/>
                                        <span onchange="mostrar_elemento_ratio(this, 'mostrar_nivel_detalle', 'Período')"></span>
                                        Período
                                    </label>
                                    <label class="radio radio-rounded">
                                        <input type="radio" name="selected_nivel_detalle" value="Sist. Informático"/>
                                        <span onchange="mostrar_elemento_ratio(this, 'mostrar_nivel_detalle', 'Sist. Informático')"></span>
                                        Sist. Informático
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group ml-4 mr-8">
                        <div class="card card-custom card-stretch example example-compact">
                            <div class="card-header">
                                <div class="card-title">
                                    <h3 class="card-label">Totales</h3>
                                </div>
                            </div>
                            <div class="checkbox-list card-body pt-4 pl-6 pr-6">
                                <label class="checkbox">
                                <input type="checkbox" name="selected_totales"  value="Departamento"  onchange="mostrar_elemento(this, 'mostrar_ruptura')" />
                                <span></span>Departamento</label>

                                <label class="checkbox">
                                <input type="checkbox"   name="selected_totales" value="Sección" onchange="mostrar_elemento(this, 'mostrar_ruptura')"  />
                                <span></span>Sección</label>

                                <label class="checkbox">
                                <input type="checkbox"  name="selected_totales" value="Línea" onchange="mostrar_elemento(this, 'mostrar_ruptura')" />
                                <span></span>Línea</label>

                                <label class="checkbox">
                                <input type="checkbox"  name="selected_totales" value="Producto" onchange="mostrar_elemento(this, 'mostrar_ruptura')"  />
                                <span></span>Producto</label>

                                <label class="checkbox">
                                <input type="checkbox"  name="selected_totales" value="Proveedor" onchange="mostrar_elemento(this, 'mostrar_ruptura')" />
                                <span></span>Proveedor</label>

                                <label class="checkbox">
                                <input type="checkbox"  name="selected_totales" value="Sucursal" onchange="mostrar_elemento(this, 'mostrar_ruptura')" />
                                <span></span>Sucursal</label>
                                
                                <label class="checkbox">
                                <input type="checkbox"  name="selected_totales" value="Complejo" onchange="mostrar_elemento(this, 'mostrar_ruptura')" />
                                <span></span>Complejo</label>
                                    
                                <label class="checkbox">
                                <input type="checkbox"  name="selected_totales" value="Establecimiento" onchange="mostrar_elemento(this, 'mostrar_ruptura')" />
                                <span></span>Establecimiento</label>
                                 
                                <label class="checkbox">
                                <input type="checkbox" name="selected_totales" value="Período" onchange="mostrar_elemento(this, 'mostrar_ruptura')" />
                                <span></span>Período</label>
                                
                                <label class="checkbox">
                                <input type="checkbox" name="selected_totales" value="Sistema Informático" onchange="mostrar_elemento(this, 'mostrar_metricas')" />
                                <span></span>Sist. Informático</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-4 example-preview card">
                <!--begin::Example-->
                <div class="example">
                    <div>
                        <ul class="nav nav-tabs nav-tabs-line nav-boldest">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">Generales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2">Familia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_3">Proveedores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_4">Entidades</a>
                            </li>
                        </ul>
                        <div class="tab-content mt-5" id="myTabContent">
                            <div class="tab-pane fade show active" id="kt_tab_pane_1" role="tabpanel" aria-labelledby="kt_tab_pane_1">
                                <div class="column">
                                    <div class="row">
                                        <div class="row card-body pt-0 pl-1 pr-4" style="padding-bottom: .25rem;"> <!-- Periodo-->
                                            <div class="card-body example-preview" style="padding: 1rem 1rem;">
                                                <h5> Período </h5>
                                                <div class="row radio-list">
                                                    <label class="radio radio-rounded col-lg-5">
                                                        <input type="radio" checked="checked" name="seleccionar_periodo" value="Período" id="seleccionar_periodo_periodo"/>
                                                        <span></span>
                                                        Período
                                                    </label>
                                                    <input type="date" class="ml-4 mr-4 mb-6">
                                                    <label class="radio radio-rounded col-lg-5">
                                                        <input type="radio" name="seleccionar_periodo" value="Acumulado" />
                                                        <span></span>
                                                        Acumulado
                                                    </label>
                                                    <input type="date" class="ml-4 mr-4 mb-2">
                                                    <input type="date" class="ml-4 mr-4 mb-6">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body pt-0 pl-1 pr-1" style="padding-bottom: .25rem;  display:block; height: 20rem; overflow-y: auto;"> <!-- Area Minorista -->
                                            <div class="column example-preview" style="padding: 1rem 1rem;">
                                                <div>
                                                    <h5>Área Minorista</h5>
                                                </div>

                                                <div class="checkbox-list card-body pt-4">
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="select_divisa" value="CUP" onchange="mostrar_elemento(this, 'mostrar_area')"  />
                                                        <span></span>
                                                        CUP
                                                    </label>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="select_divisa" value="MLC" onchange="mostrar_elemento(this, 'mostrar_area')"  />
                                                        <span></span>
                                                        MLC
                                                    </label>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="select_divisa" value="TODOS"  onchange="mostrar_elemento(this, 'mostrar_area')" />
                                                        <span></span>
                                                        TODOS
                                                    </label>
                                                </div>
                                                <!-- <span class="form-text text-muted">Seleccione las opciones siguientes en caso de no quedar contemplada en las categorias anteriores</span>  -->
                                                
                                                <h6>Selección variada</h6>
                                                <div class="checkbox-list card-body pt-4">
                                                {% if areas_minoristas %}
                                                    {% for area in areas_minoristas %}
                                                        <label class="checkbox">
                                                            <input type="checkbox" name="select_area" value="{{ area.tipo_area_nombre }}" 
                                                                onchange="mostrar_elemento(this, 'mostrar_area')" />
                                                            <span></span>
                                                            {{ area.tipo_area_nombre }}
                                                        </label>
                                                    {% endfor %}
                                                {% endif %}
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="card-body pt-0 pl-1 pr-1" style="padding-bottom: .25rem;"> <!-- Origen de productos -->
                                            <div class="card-body example-preview" style="padding: 1rem 1rem;">
                                                <h5>Origen de productos</h5>
                                                {% if origen_productos %}
                                                <div class="checkbox-list card-body pt-4">
                                                    {% for origen in origen_productos %}
                                                        <label class="checkbox">
                                                            <input type="checkbox" name="select_divisa" value="{{origen}}" />
                                                            <span></span>
                                                            {{origen}}
                                                        </label>
                                                    {% endfor %}
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="row" style="border:fixed;">
                                        <div class="row card-body pt-0 pl-1 pr-1 col-8" style="padding-bottom: .25rem; display:block; height: 20rem; overflow-y: auto;"> <!-- Actividad -->
                                            <div class="card-body example-preview" >
                                                <h5>Actividad</h5>
                                                <span class="form-text text-muted">Si no es seleccionada ninguna actividad se tienen en cuenta todas.</span>
                                                <div class="checkbox-list card-body pt-4 pl-6 pr-6" >
                                                    {% if actividades %}
                                                        {% for act in actividades %}
                                                            <label class="checkbox">
                                                                <input type="checkbox" name="selected_actividad" value="{{act.act_codigo}} - {{act.act_descripcion }}"
                                                                    onchange="mostrar_elemento(this, 'mostrar_actividad')" />
                                                                <span></span>{{act.act_codigo}} - {{act.act_descripcion }}</label>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row card-body pt-0 pr-4"  style="padding-bottom: .25rem;"> <!-- Tipo de codigo -->
                                            <div class="card-body example-preview">
                                                <h5>Tipo de código</h5>
                                                <div class="row radio-list">
                                                    <label class="radio radio-rounded col-lg-5">
                                                        <input type="radio" checked="checked" name="seleccionar_periodo" value="Período" />
                                                        <span></span>
                                                        TODOS
                                                    </label>
                                                    <label class="radio radio-rounded col-lg-5">
                                                        <input type="radio" name="seleccionar_periodo" value="Acumulado" />
                                                        <span></span>
                                                        MUP
                                                    </label>
                                                    <label class="radio radio-rounded col-lg-5">
                                                        <input type="radio" name="seleccionar_periodo" value="Acumulado" />
                                                        <span></span>
                                                        Ocasión
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <!-- Codigos de Productos -->
                                        <div class="column">
                                            <div class="row card-body pt-0 pl-0 pr-1" style="padding-bottom: .25rem;"> <!-- Rango de código -->
                                                <div class="card-body example-preview">
                                                    <h5>Rango de código</h5>
                                                    <div class="form-group row">
                                                        <div class="col-12">
                                                        </div>
                                                        <input class="form-control" type="text" id="rango_codigo" placeholder="Ejemplo: Código1, Código1, Código2, Código5-Código8"/>
                                                    </div>
                                                    <h5>Cargar Código desde Fichero</h5>
                                                    <div class="form-group">
                                                        <div></div>
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input" id="navegador_carga_fichero" />
                                                            <label class="custom-file-label" for="navegador_carga_fichero"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="kt_tab_pane_2" role="tabpanel" aria-labelledby="kt_tab_pane_2">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Filtrar" id="filtrar_familia"/>
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="example">
                                        <div>
                                            <ul class="nav nav-tabs nav-tabs-line nav-boldest">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1_familia">Departamento</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2_familia">Sección</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_3_familia">Línea</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content mt-5" id="myTabContent">
                                                <div class="tab-pane fade show active" id="kt_tab_pane_1_familia" role="tabpanel" aria-labelledby="kt_tab_pane_1_familia">
                                                    <p> panel de Departamento</p>
                                                </div>
                                                <div class="tab-pane fade" id="kt_tab_pane_2_familia" role="tabpanel" aria-labelledby="kt_tab_pane_2_familia">
                                                    <p> panel de Sección</p>
                                                </div>
                                                <div class="tab-pane fade" id="kt_tab_pane_3_familia" role="tabpanel" aria-labelledby="kt_tab_pane_3_familia">
                                                    <p> panel de Línea</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <!--
                                        canvas
                                    -->
                                </div>
                            </div>
                            <div class="tab-pane fade" id="kt_tab_pane_3" role="tabpanel" aria-labelledby="kt_tab_pane_3">
                                <div class="column">
                                    <div class="form-group">
                                        <label for="agrupacion_codificacion">Agrupado por:</label>
                                        <select class="form-control" id="agrupacion_codificacion">
                                            <option>Codificación Minorista</option>
                                            <option>Codificación Mayorista</option>
                                            <option>Organismos</option>
                                        </select>
                                    </div>
                                    <div class="checkbox-list card-body pt-4">
                                        <label class="checkbox">
                                        <input type="checkbox" name="ocultar_inactivos_cb"  value="Ocultar inactivos" />
                                        <span></span>Ocultar inactivos</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Filtrar" id="filtrar_familia" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button">Buscar</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <!--
                                            canvas
                                        -->
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="kt_tab_pane_4" role="tabpanel" aria-labelledby="kt_tab_pane_4">
                                <div class="row">
                                    <div class="radio-list">
                                        <label class="radio radio-rounded">
                                            <input type="radio" checked="checked" name="selected_nivel_detalle" value="Departamento" />
                                            <span></span>
                                            Establecimientos
                                        </label>
                                        <label class="radio radio-rounded">
                                            <input type="radio" name="selected_nivel_detalle" value="Sección" />
                                            <span></span>
                                            Sist. Informático
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group pt-4">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Filtrar" id="filtrar_familia" />
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                                <!--
                                    canvas
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Conformación de Reporte -->
        <div class="ml-8">
            <!--begin::List Widget 9-->
            <div class="card card-custom card-stretch gutter-b">
                <!--begin::Header-->
                <div class="">
                    <!--begin::List Widget 9-->
                    <div class="card card-custom card-stretch gutter-b">

                        <!--begin::Header-->
                        <div class="card-header align-items-center border-0">
                            <h3 class="card-title align-items-start ">
                                <span class="font-weight-bolder text-dark">Estructura del Reporte</span>
                            </h3>
                            <input class="btn btn-primary mt-4 ml-4 mr-4 mb-4" type="submit" value="Conformar Reporte" name="submit-nivel-detalle">
                        </div>
                        <!--end::Header-->


                        <!--begin::Body-->
                        <div class="card-body">
                            <div> <!-- Nivel de detalle -->
                                <div>
                                    <h5>Nivel de Detalle</h5>
                                </div>
                                
                                <div id="kt_tree_1" class="tree-demo">
                                    <ul id="mostrar_nivel_detalle">
                                        
                                    </ul>
                                </div>
                            </div>

                            <div>
                                <!-- Nivel de detalle -->
                                <div>
                                    <h5>Totales</h5>
                                </div>
                            
                                <div id="kt_tree_2" class="tree-demo">
                                    <ul id="mostrar_ruptura">
                                        
                                    </ul>
                                </div>
                            </div>
                            
                            <div>
                                <!-- Nivel de detalle -->
                                <div>
                                    <h5>Métricas</h5>
                                </div>
                            
                                <div id="kt_tree_1" class="tree-demo">
                                    <ul id="mostrar_metricas">
                                        
                                    </ul>
                                </div>
                            </div>

                            <div>
                                <!-- Nivel de detalle -->
                                <div>
                                    <h5>Indicadores</h5>
                                </div>
                            
                                <div id="kt_tree_1" class="tree-demo">
                                    <ul id="mostrar_indicadores">
                                        
                                    </ul>
                                </div>
                            </div>

                            <div>
                                <!-- Actividad -->
                                <div>
                                    <h5>Actividad</h5>
                                </div>
                            
                                <div id="kt_tree_1" class="tree-demo">
                                    <ul id="mostrar_actividad">
                            
                                    </ul>
                                </div>
                            </div>

                            <div>
                                <!-- Area minorista -->
                                <div>
                                    <h5>Área Minorista</h5>
                                </div>
                            
                                <div id="kt_tree_1" class="tree-demo">
                                    <ul id="mostrar_area">
                            
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--end: Card Body-->
                    </div>
                    <!--end: List Widget 9-->
                </div>
            </div>
        </div>
    </div>
</form>

{%endblock main_container%}
